.commit-project{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.black-box{
  background: black;
  border-radius: 15px;
  margin: 1rem 0;
  max-width: 326px;
}

.black-box h3{
  color: white;
  text-align: center;
}
.black-box p {
  color: $primary-color;
}
.black-box li {
  flex-direction: column;
}

.img-git img{
  height: 194px;
  width: 220px;
}
