header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}
.title-home{
  margin: 0 1rem;
}
.Link-Title {
  display: flex;
  align-items: center;
}
.Link-btn{
  text-decoration: none;
  margin: 0.2rem 2rem;
}

.Home-Header {
  margin: 2.4rem 0;
}