$primary-color: #2EA250;
$secondary-color: #E0DFE1;

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  max-width: 1640px;
  margin: 0 auto;

}
main {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}
.right-part{
  width: 55%;
  @media screen and (max-width: 1040px) {
    width: 65%;
  }
  @media screen and (max-width: 900px) {
    width: 90%;
  }
}
.left-part{
  width: 40%;
  max-width: 570px;
  @media screen and (max-width: 1040px) {
    width: 30%;
  }
  @media screen and (max-width: 900px) {
    width: 90%;
    max-width: none;
  }
}

h1 {
  font-size: 3.4rem;
  margin: 0;
  @media screen and (max-width: 1230px) {
    font-size: 2.8rem;
  }
}
h2 {
  font-size: 2.3rem;
  margin: 0;
  color: $primary-color;
  @media screen and (max-width: 1230px) {
    font-size: 1.9rem;
  }
}
h3 {
  font-size: 2rem;
  margin: 0;
  @media screen and (max-width: 1230px) {
    font-size: 1.8rem;
  }
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
}
li {
  list-style: none;
  display: flex;
  // align-items: center;
}

.definition {
  width: 33%;
  margin: 0.4rem 0;
}
.explication {
  width: 70%;
  margin: 0.5rem 0;
}


.green-box {
  background: $primary-color;
  border-radius: 15px;
  position: relative;
  margin: 2rem 0;
}
.gray-box{
  background: $secondary-color;
  border-radius: 15px;
  margin: 2rem 0;
}
.head-bar {
  content: "";
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 1rem 0 0.4rem;
}

.title-p-box{
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
}
.info {
  display: flex;
}
.git_bash_list{
  width: 40%;
  margin: 0.4rem;
}
.git_config_list{
  width: 100%;
  margin: 0.4rem;
}
.git_status_list{
  width: 20%;
  margin: 0.4rem;
}

.margin-left .gray-box {
  margin: 0.6rem 0;
}
.margin-left .title-p-box {
  padding: 1.1rem;
}
.git-blame {
  width: 40%;
}
